# Environment variables for the project
# Values should be "quoted" but not the keys
appId="d1234567890"
branch="production"

# secret format {"API_KEY": "xxxxxxxx"}
API_KEY_SECRET_NAME="api-key-secret-name" 